# for scarches
scanpy~=1.9.1
scArches~=0.5.2
#scvi-tools custom load in the Dockerfile (forked from 0.16.x to fix AnnData pre-release error)
#scvi-tools==0.16.1
pandas==1.5.3
xgboost==1.7.4
numpy~=1.22
gdown~=4.4.0
torch~=1.11.0
#jaxlib==0.3.7
leidenalg==0.8.9
scikit-misc==0.1.4
protobuf==3.19.4
pymde==0.1.15

#concatenation on disk
#anndata==0.1

# for the api
Flask==2.1.1
uWSGI==2.0.20
gunicorn==20.1.0

# for s3
boto3==1.22.1

#for uncertainty
#pertpy
